## Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

#df=df.value_counts make one here to use as a filter for DFs

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_app_df=application_df.drop(["EIN", "NAME"], axis=1)
clean_app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Determine the number of unique values in each column.
print(clean_app_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_counts=(clean_app_df["APPLICATION_TYPE"].value_counts())

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    clean_app_df['APPLICATION_TYPE'] = clean_app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
classification_count=(clean_app_df["CLASSIFICATION"].value_counts())
classification_count.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [41]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classification_count[classification_count < 800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    clean_app_df['CLASSIFICATION'] = clean_app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [42]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df=pd.get_dummies(clean_app_df)
dummies_df

#print(dummies_df.columns)
# dummies_df=pd.get_dummies(clean_app_df, columns=['APPLICATION_TYPE','CLASSIFICATION'])
# dummies_df
# app_dummies_df=pd.get_dummies(application_types_to_replace, columns=['APPLICATION_TYPE'])
# class_dummies_df=pd.get_dummies(classifications_to_replace, columns=['CLASSIFICATION'])


# attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist() - OP Notes

# OneHotEncoder? Merge the two variables?
# Merge one-hot encoded features and drop the originals
# attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
# attrition_df = attrition_df.drop(attrition_cat,1)
# attrition_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [43]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop('IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.iloc[0])
number_output_neurons = 1
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2 
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2 

nn = Sequential()

# First hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 22)                968

 dense_7 (Dense)             (None, 11)                253

 dense_8 (Dense)             (None, 1)                 12

=================================================================
Total params: 1,233
Trainable params: 1,233
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6101 - accuracy: 0.6978
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5678 - accuracy: 0.7274
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7309
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7320
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7322
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7330
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7322
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7328
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7339
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7333
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7327
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7332
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7344
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7334
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7343
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7337
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7333
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7338
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7340
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7347
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7344
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7356
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7340
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7355
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7346
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7342
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7351
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7351
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7347
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7358
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7349
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7339
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7356
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7347
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7350
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7363
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7361
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7367
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7347
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7358
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7368
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7366
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7363
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7357
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7359
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7370
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7374
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7363
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7365
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7366
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7375
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7364
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7358
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7374

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5601 - accuracy: 0.7249 - 361ms/epoch - 1ms/step
Loss: 0.5601410269737244, Accuracy: 0.7248979806900024

In [51]:
# Export our model to HDF5 file
nn.save('./charity.sav')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: ./charity.sav\assets

INFO:tensorflow:Assets written to: ./charity.sav\assets